{{#>fullPage}}
    <!-- Google Tag Manager PRD -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PJBVFG"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PJBVFG');</script>
    <!-- End Google Tag Manager -->
    <p>My Account is under development and will soon be updated with new features and improvements.</p>
    <p>While we complete these updates you can still view the prior <a href="https://legacy.my.qld.gov.au/">account service</a>.</p>
    <p>Please <a href="https://www.qld.gov.au/contact-us/">contact us</a> with any queries.</p>
{{/fullPage}}
